<% include ../partials/header %>

  


  <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1>Hello Welcome To CampGround..!! <span class="badge badge-success"><%=  %></span></h1> 
                    <p>View our hand-picked campgrounds from all over the world..!!</p>
                    <p><a class="btn btn-primary btn-lg" href="/campground/new">Add New Camp</a></p>
                </div>
            </header>



   <div class="row" style="display:flex; flex-wrap: wrap;">
            <% campground.forEach(function (campground) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="card border-secondary  mb-3">
                        <img id="show" class="img-fluid card-img-top" src=" <%=campground.image %>"">
                            <div class="card-body text-center">
                                <h4 class="card-title"><%= campground.name %></h2> 
                                <a href="/campground/<%= campground._id %>" class="btn btn-primary ml-auto">More Info</a> 
                            </div>
                            
                    </div> 
                      
                </div>  
            <% }); %>          
   </div>
</div>
     
            
         
    
<% include ../partials/footer %>